@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 42, 61, 69;
  --background-start-rgb: 233, 245, 243;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 233, 245, 243;
    --background-start-rgb: 42, 61, 69;
    --background-end-rgb: 42, 61, 69;
  }
}

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 25%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 25%;
    --primary: 41 64% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 35 58% 62%;
    --secondary-foreground: 0 0% 25%;
    --muted: 0 0% 92%;
    --muted-foreground: 0 0% 40%;
    --accent: 41 42% 72%;
    --accent-foreground: 0 0% 25%;
    --destructive: 0 65% 45%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 41 64% 59%;
    --chart-1: 41 64% 59%;
    --chart-2: 35 58% 62%;
    --chart-3: 0 0% 30%;
    --chart-4: 0 0% 96%;
    --chart-5: 41 42% 72%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 18%;
    --foreground: 0 0% 96%;
    --card: 0 0% 20%;
    --card-foreground: 0 0% 96%;
    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 96%;
    --primary: 41 70% 55%;
    --primary-foreground: 0 0% 20%;
    --secondary: 35 65% 58%;
    --secondary-foreground: 0 0% 96%;
    --muted: 0 0% 28%;
    --muted-foreground: 0 0% 80%;
    --accent: 41 50% 62%;
    --accent-foreground: 0 0% 96%;
    --destructive: 0 65% 45%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 28%;
    --input: 0 0% 28%;
    --ring: 41 70% 55%;
    --chart-1: 41 70% 55%;
    --chart-2: 35 65% 58%;
    --chart-3: 0 0% 96%;
    --chart-4: 0 0% 28%;
    --chart-5: 41 50% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply overflow-x-hidden;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
}
